[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
unstructured = "*"
pandas = "*"
chromadb = "*"
tiktoken = "*"
openai = "*"
jupyter = "*"
faiss-cpu = "*"
python-dotenv = "*"
jq = "*"
jupyterthemes = "*"
llama-cpp-python = "*"
transformers = "*"
pypdf = "*"

[dev-packages]

[requires]
python_version = "3.11.3"
